.checkout-container{
    max-width:1200px;
    margin:40px auto;
    padding:0 20px;
}

.subtitle{
    color:#777;
    margin-bottom:25px;
}

.checkout-card{
    background:#fff;
    border:1px solid #eee;
    border-radius:16px;
    padding:25px;
    margin-bottom:20px;
}

.product-item{
    display:flex;
    align-items:center;
    gap:20px;

    padding:15px 0;

    border-bottom:1px solid #eee;
}

.product-item:last-child{
    border-bottom:none;
}

.product-item img{
    width:80px !important;
    height:80px !important;

    min-width:80px;
    max-width:80px;

    min-height:80px;
    max-height:80px;

    object-fit:cover;

    border-radius:10px;

    display:block;
}
.product-item .price{
    margin-left:auto;
    font-weight:600;
}

.method-card{
    border:2px solid #4A7C59;
    border-radius:12px;
    padding:20px;
    background:#f7fbf8;
}

textarea{
    width:100%;
    min-height:120px;

    border:1px solid #ddd;
    border-radius:10px;

    padding:15px;

    resize:none;
}

.payment-card{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.payment-left{
    width:50%;
}

.row{
    display:flex;
    justify-content:space-between;
    margin-bottom:10px;
}

.total-row{
    display:flex;
    justify-content:space-between;

    margin-top:20px;
    padding-top:15px;

    border-top:1px solid #eee;

    font-size:28px;
    font-weight:700;

    color:#2f7d32;
}

.payment-right{
    width:40%;
}

.pay-btn{
    width:100%;

    padding:18px;

    border:none;

    border-radius:10px;

    background:#4A7C59;

    color:white;

    font-size:18px;
    font-weight:600;

    cursor:pointer;
}

.payment-method{
    display:flex;
    align-items:center;
    gap:15px;
    border:2px solid #d8e8dc;
    padding:18px;
    border-radius:12px;
    margin-top:15px;
    background:#f8fbf9;
}

.payment-method.active{
    border-color:#4CAF50;
}

.payment-method input{
    transform:scale(1.2);
}

.payment-info{
    flex:1;
}

.payment-info h4{
    margin:0;
    color:#2e7d32;
}

.payment-info p{
    margin-top:5px;
    color:#666;
    font-size:14px;
}

.saldo-badge{
    background:#4CAF50;
    color:white;
    padding:6px 12px;
    border-radius:20px;
    font-size:12px;
    font-weight:600;
}

.modal-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;

    background:rgba(0,0,0,.45);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:9999;
}

.success-modal{
    width:420px;
    background:#fff;
    padding:35px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}


.success-modal h1{
    color:#2e7d32;
    margin-bottom:15px;
}

.success-modal p{
    color:#666;
    line-height:1.6;
    margin-bottom:20px;
}

.btn-primary{
    display:inline-block;
    padding:12px 20px;
    background:#4e7f59;
    color:white;
    text-decoration:none;
    border-radius:10px;
    font-weight:600;
}